<form 
  #movieAddForm="ngForm" 
  (ngSubmit)="addMovie()"
>
  <div class="form-group">
    <label>Title</label>
    <input 
      type="text"
      name="title" 
      class="form-control"
      [(ngModel)]="newMovie.title"
      #title="ngModel"
      required
      minlength="4"
    />
    <div *ngIf="title.invalid && (title.touched || title.dirty)">
    <div 
      class="error"
      *ngIf="title.errors.required"
    >
      Title is required
    </div>
    <div 
      class="error"
      *ngIf="title.errors.minlength"
    >
      Min 4 chars
    </div>
  </div>

  </div>
  <div class="form-group">
    <label>Rating</label>
    <input 
      type="text"
      name="rating" 
      class="form-control"
      [(ngModel)]="newMovie.rating"
    />
  </div>
  <div class="form-group">
    <label>Year</label>
    <input 
      type="text"
      name="year" 
      class="form-control"
      [(ngModel)]="newMovie.year"
    />
  </div>
  <div class="form-group">
    <label>Thumbnail</label>
    <input 
      type="text"
      name="thumbnail" 
      class="form-control"
      [(ngModel)]="newMovie.thumbnail"
    />
  </div>
  <button 
    type="submit" 
    class="btn btn-primary"
    [disabled]="movieAddForm.invalid"
  >
    Submit
  </button>
</form>

{{ newMovie | json }}
form: {{ movieAddForm.valid }}
title: {{ title.errors | json }}
