body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 80%;
    background: lightgray;
}
.row:after {
    clear: both;
    content: "";
    display: block;
}
.col {
 float: left;
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.menu div{
    background-color: green;
    color: white;
}
.clear {
    clear: both;
}

a {
    display: block;
}

.course-menu {
    background: #555;
}